<% content_for :title do %>Pixelated Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="go" data-view="Ccmenu" data-title="go.wazokazi.is"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="snap_ua" data-view="Ccmenu" data-title="Snap User-Agent"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="snap_leap_mail" data-view="Ccmenu" data-title="Snap leap_mail"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="snap_soledad" data-view="Ccmenu" data-title="Snap soledad"></div>
    </li>
  </ul>
</div>
