<% content_for :title do %>Pixelated Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="user-agent" data-view="Text" data-title="User-Agent Snap" data-text="The snap-ci pipeline for the user-agent." </div>
    </li>
   <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="dispatcher" data-view="Text" data-title="Dispatcher Snap" data-text="The snap-ci pipeline for the dispatcher." </div>
   </li>

  </ul>
</div>
