<% content_for :title do %>Pixelated Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="go_failed" data-view="Text" data-title="go.wazokazi.is"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="snap_failed" data-view="Text" data-title="Snap-CI"></div>
    </li>
  </ul>

</div>
